.travel__destination {
  padding: 110px 0 50px;
  &-content {
    display: flex;
    flex-direction: column;
    img{
      max-width: 650px;
      width: 100%;
    }
  }
  &-box{
    display: flex;
    gap: 15px;
    img{
      max-width: 600px;
      width: 100%;
      object-fit: fill;
      border-radius: 8px;
    }
  }

  &-description {
    text-align: center;
    margin: 2rem auto;
  }

  &-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    width: 100%;
    p {
      background-color: #f0f0f0;
      padding: 1rem;
      border-radius: 4px;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      strong{
        position: absolute;
        top: 10px;  
        margin-bottom: 10px;
      }
      
    }
  }
  &-details{
    text-align: center;
    display: flex;
    flex-direction: column;
    h3{
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
  &-places{
    margin-bottom: 20px;
    li{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 25px 20px;
      img{
        height: 320px;
        margin-bottom: 20px;
        border-radius: 15px;
      }
    }
  }
}
.right{
  order: 1;
}
.left{
  order: 2;
}
// @media(max-width:1000px){
//   .travel__destination-place p {
//     display: -webkit-box;
//     -webkit-line-clamp: 13  ;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
//   .best-page{
//     &__places{
//       li{
//         img{
//           height: 290px;
//         }
//       }
//     }
//   }
// }
// @media(max-width: 920px){
//   .best-page__box{
//     flex-direction: column;
//   }
//   .best-page__box img{
//     max-width: 910px;
//     height: 350px;
//   }
//   .best-page__details{
//     p{
//       height: 120px;
//       &:nth-child(1){
//         display: none; 
//       }
//     }
//   }
// }

// @media(max-width: 840px){
//   .best-page__place-details p {
//     display: -webkit-box;
//     -webkit-line-clamp: 13  ;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
//   .best-page__details{
//     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//     p{
//       height: 120px;
//       &:nth-child(1){
//         display: none;
//       }
//     }
//   }
// }
// @media(max-width:650px){
//   .best-page__title{
//     font-size: 25px;
//   }
//   .best-page__details p {
//     &:nth-child(2){
//       display: none;
//     }
//   }
// }
// @media(max-width:500px){
//   .best-page{
//     &__description{
//       font-size: 17px;
//     }
//     &__places{
//       li{
//         grid-template-columns: repeat(1, 1fr);
//       }
//       h3{
//         font-size: 16px;
//       }
//       padding: 14px;
//     }
//     .right{
//       order: unset;
//     }
//     .left{
//       order: unset;
//     }
//   }
//   .best-page__description{
//     margin: 30px auto;
//   }
//   .best-page__details p {
//     height: 100px;
//   }
// }
