.navbar {
  padding: 1.5rem 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    &-img {
      max-width: 252px;
      width: 100%;
    }
  }

  &__links {
    display: flex;
    &-item {
      color: #000;
      font-size: 0.9rem;
      padding: 8px;
      text-align: center;
      transition: 0.5s;
      display: flex;
      gap: 15px;
      &:hover {
        background: #645b5b9e;
        border-radius: 10px;
        color: #fff;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-phone {
      color: #333;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.1rem;
    }

    &-btn {
      background: #2196f3;
      color: white;
      border: none;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #1976d2;
      }
    }
  }
  .show{
    display: none;
    transition: 0.8s ease;
  }
  .none{
      display: block; 
      transition: 0.8s ease;
    }
  &__bottom {
    background: #2196f3;
    margin: 0 -2rem;
    transition: all 0.3s ease;
    &-list {
      display: flex;
      margin-left: 25px;
      &-item {
        padding: 15px 25px;
        &:hover{
          background: #fff;
          a{
            color: #00ff00;
          }
        }
        &-link {
          color: white;
          font-size: 0.9rem;
        }
      }
    }
    &.none{
      display: none;
    }
    &.show {
      display: block; 
    }
  }
  
}
@media(max-width: 1050px){
  .navbar{
    &__top{
      justify-content: space-between;
    }
    &__logo-img{
      max-width: 200px;
    }
    &__links{
      display: none;
    }
    &__right-phone{
      font-size: 1rem;
    }
  }
}
@media(max-width: 550px){
  .navbar{
    &__right-phone{
      display: none;
    }
    &__right-btn{
      display: none;
    }
  }
}