.news{
  padding: 90px 0;
  background: #F2F2F2;
  .title{
    margin-bottom: 40px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));  
    gap: 20px;
  }
  
  &__box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #4F4F4F;
    &-title{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      padding-right: 20px;
      color: #029EE4;
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
    }
    &-img{
      overflow: hidden;
      border-radius: 10px;
        img{
          max-width: 310px;
          width: 100%;
          height: 190px;
          transition: 0.5s; 
          &:hover{
            transform: scale(1.2);
          }
        }
    }
    &-date{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    &-text{
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;
      font-size: 16px;
      color: #4f4f4fa9;
    }
    a{
      max-width: 204px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #4F4F4F;
    }
    &-all{
      margin-top: 50px;
      text-align: center;
    }
  }
  &__btn{
    background: #fff;
    border: none;
    padding: 15px 38px;
    font-size: 16px;
    border-radius: 40px;
    color: #029EE4;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media(max-width: 610px){
  .news{
    .container{
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    &__box{
      text-align: center;
      &-title{
        text-align: center !important;
      }
    }
  }
}